modules = ["nodejs-20", "php-8.2", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
MAIL_MAILER = "smtp"
MAIL_HOST = "smtppro.zoho.com"
MAIL_PORT = "587"
MAIL_ENCRYPTION = "tls"
MAIL_USERNAME = "update@mpgsolution.com"
MAIL_FROM_ADDRESS = "update@mpgsolution.com"
MAIL_FROM_NAME = "MPG Solution"

[userenv.development]
DB_CONNECTION = "pgsql"
DB_HOST = "helium"
DB_PORT = "5432"
DB_DATABASE = "heliumdb"
DB_USERNAME = "postgres"
APP_URL = "https://2886d36d-b2a1-46ef-8839-e02b4fcfec6a-00-2riexz0quqodp.sisko.replit.dev"

[userenv.production]
DB_CONNECTION = "mysql"
DB_HOST = "190.92.174.35"
DB_PORT = "3306"
DB_DATABASE = "mpgcomnp_wp146"
DB_USERNAME = "mpgcomnp_wp146"
DB_MYSQL_PASSWORD = "jg%;KZsS7PWn"
APP_URL = "https://abcmpg.replit.app"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve --host=0.0.0.0 --port=5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["php", "artisan", "serve", "--host=0.0.0.0", "--port=5000"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
